openapi: 3.0.3
info:
  title: UpLead Account Person API
  description: REST API for accessing UpLead's B2B contact and company database. Supports company search and enrichment, person search and enrichment, combined person-and-company lookup, prospector search for discovering contacts by title or function, email verification, credit balance checking, and list management.
  version: 2.0.0
  contact:
    name: UpLead Support
    url: https://www.uplead.com/contact/
  termsOfService: https://www.uplead.com/terms/
  license:
    name: Proprietary
servers:
- url: https://api.uplead.com/v2
  description: UpLead API v2
- url: https://logo.uplead.com
  description: UpLead Logo CDN
security:
- ApiKeyAuth: []
tags:
- name: Person
  description: Person/contact search and enrichment operations.
paths:
  /person-search:
    get:
      operationId: personSearchGet
      summary: Search for a person by email, name+domain, or ID
      description: Returns enriched person/contact data. Provide email, or first_name+last_name+domain, or id.
      tags:
      - Person
      parameters:
      - name: id
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
          format: email
      - name: first_name
        in: query
        schema:
          type: string
      - name: last_name
        in: query
        schema:
          type: string
      - name: domain
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful person lookup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PersonRecord'
                  availableCredits:
                    type: integer
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: personSearchPost
      summary: Search for a person (POST)
      tags:
      - Person
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                last_name:
                  type: string
                domain:
                  type: string
      responses:
        '200':
          description: Successful person lookup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PersonRecord'
                  availableCredits:
                    type: integer
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        status:
          type: integer
          description: HTTP status code.
    PersonRecord:
      type: object
      description: Person/contact data record from UpLead's database.
      properties:
        id:
          type: string
          description: Internal UpLead person ID.
        first_name:
          type: string
        last_name:
          type: string
        title:
          type: string
        job_function:
          type: string
          enum:
          - advisory
          - analyst
          - creative
          - education
          - engineering
          - finance
          - fulfillment
          - health
          - hospitality
          - human resources
          - legal
          - manufacturing
          - marketing
          - operations
          - partnerships
          - product
          - professional service
          - public service
          - research
          - sales
          - sales engineering
          - support
          - trade
          - unemployed
        job_sub_function:
          type: string
        management_level:
          type: string
          enum:
          - M
          - D
          - VP
          - C
          description: M=Manager, D=Director, VP=Vice President, C=C-Suite
        gender:
          type: string
        email:
          type: string
          format: email
        email_status:
          type: string
          enum:
          - valid
          - invalid
          - accept_all
          - unknown
        phone_number:
          type: string
        mobile_directdial:
          type: string
        city:
          type: string
        state:
          type: string
        county:
          type: string
        country:
          type: string
        linkedin_url:
          type: string
          format: uri
        industry:
          type: string
        domain:
          type: string
        company_name:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Your UpLead API key passed as a header value.
